<div class="background-color">
</div>

<div class="background-image">
  <div class="container" style="position: relative;">

    <mdb-navbar SideClass="nav-projects navbar navbar-expand-md navbar-light d-none d-md-block" style="position: relative; top: -20px; font-size:24px;">
      <mdb-navbar-brand>
        <a class="navbar-brand">Navbar</a>
      </mdb-navbar-brand>
      <links>
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link navbar-bands text-white" style="color:dimgrey" (click)="selector = 0; activeHighlight(0);">Smoke & Sugar</a>
          </li>
          <li class="nav-item">
            <a class="nav-link navbar-bands" style="color:dimgrey" (click)="selector = 1; activeHighlight(1);">SYBLING</a>
          </li>
          <li class="nav-item">
            <a class="nav-link navbar-bands" style="color:dimgrey" (click)="selector = 2; activeHighlight(2);">Lovelace</a>
          </li>
          <li class="nav-item">
            <a class="nav-link navbar-bands" style="color:dimgrey" (click)="selector = 3; activeHighlight(3);">Mari QM</a>
          </li>
          <!-- <li class="nav-item">
            <a class="nav-link navbar-bands" style="color:dimgrey" (click)="selector = 4; activeHighlight(4);">Jess Bet</a>
          </li> -->
        </ul>
      </links>
    </mdb-navbar>

    <div class="mobile d-block d-md-none">
      <div class="list-group">
        <a class="list-group-item waves-light navbar-mobile text-white" (click)="selector = 0; activeHighlight(0);" mdbWavesEffect>Smoke & Sugar</a>
        <a class="list-group-item waves-light navbar-mobile" (click)="selector = 1; activeHighlight(1);" mdbWavesEffect>SYBLING</a>
        <a class="list-group-item waves-light navbar-mobile" (click)="selector = 2; activeHighlight(2);" mdbWavesEffect>Lovelace</a>
        <a class="list-group-item waves-light navbar-mobile" (click)="selector = 3; activeHighlight(3);" mdbWavesEffect>Mari QM</a>
        <!-- <a class="list-group-item waves-light navbar-mobile" (click)="selector = 4; activeHighlight(4);" mdbWavesEffect>Jess Bet</a> -->
      </div>
    </div>

    <div *ngFor="let group of groups;">
      <div *ngIf="group.selector === selector" class="animated fadeIn wow" data-wow-duration="0.5s">
        <div class="flex-row">
          <h1 class="title animated">{{ group.name }}</h1>
        </div>
        <div class="animated fadIn">

        </div>
        <div class="row" style="height: 340px;">
          <div class="col-md-4">
            <img class="album-art w-100" src="{{ group.image1 }}" alt="">
            <div class="row">
              <a href="{{ group.link }}" target="_blank" *ngIf="selector === 1">
                <mdb-icon class="pl-2 pr-1 pb-1 text-white" icon="soundcloud" size="lg"></mdb-icon>
                <p style="display: inline-block" class="text-white pt-1">{{ group.linkName }}</p>
              </a>

              <a href="{{ group.link }}" target="_blank" *ngIf="selector != 1">
                <mdb-icon class="pl-2 pr-1 pb-1 text-white" icon="globe" size="lg"></mdb-icon>
                <p style="display: inline-block" class="text-white pt-1">{{ group.linkName }}</p>
              </a>

              <a href="{{ group.instagram }}" target="_blank" *ngIf="selector != 2">
                <mdb-icon class="pl-2 pr-1 pb-1 text-white" icon="instagram" size="lg"></mdb-icon>
                <p style="display: inline-block" class="text-white pt-1">Instagram</p>
              </a>
            </div>
          </div>
          <div class="col-md-4 offset-md-2">
            <img class="album-art w-100" src="{{ group.image2 }}" alt="">
            <p class="description pl-2 pr-1 pb-2 pt-1" style="background: rgba(19, 19, 19, 0.488)">
              {{ group.description }}
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
