:host {
  display: block;
  min-height: 100vh;
  padding-top: 80px;
  padding-bottom: 95px;
  width: 100vw;
}

.event>* {
  color: white;
}

.event {
  padding-bottom: 10px;
}

.event:hover {
  .event-date {
    margin-right: 50px;
    margin-left: 50px;
    color: #1d1d1d;
    background: white;
  }
  .location {
    color: white;
  }
}

.event-date {
  max-width: 75px;
  width: 65px;
  height: 65px;
  border: 2px solid white;
  color: white;
  margin-left: 40px;
  margin-right: 40px;
  padding-left: 14px;
  padding-top: 1px;
  transition: 0.4s;
  line-height: 1.2; // transition-timing-function: ease;
}

.band-name {
  padding-top: 12px;
  font-size: 35px; // line-height: 1;
  letter-spacing: 1.5px;
}

.venue {
  font-size: 35px;
  border-bottom: 2px solid white; // width: 200px;
  display: inline-block;
  line-height: 1.444;
  letter-spacing: 1.5px;
}

.location {
  font-size: 18px;
  line-height: 1.2;
  color: dimgrey;
  transition-property: color;
}

.left-side,
.right-side {
  width: 300px;
}

.left-side {
  margin-top: -6px;
}
.right-side {
  margin-top: -14px;
}

.banner {
  font-size: 54px;
  font-family: RomanaT;
  padding-bottom: 40px;
}

@media (max-width: 991px) {
  .left-side,
  .right-side {
    width: 250px;
  } // .band-name {
  //   font-size: 28px;
  // }
  .venue {
    font-size: 28px;
  }
  .location {
    font-size: 16px;
  }
  .band-name {
    font-size: 28px;
  }
  .banner {
    font-size: 46px;
  }
  .right-side {
    margin-top: -6px;
  }
}

@media (max-width: 767px) {
  .left-side,
  .right-side {
    // width: 10px;
  }
  .event-date {
    margin-top: 20px;
  }
  .event {
    width: 450px;
  }
  .event:hover {
    .event-date {
      margin-right: 50px;
      margin-left: 40px;
    }
  }
  .left-side {
    margin-top: 0px;
  }
  .right-side {
    margin-top: 0px;
  }
}

@media (max-width: 575px) {
  .banner {
    margin-top: -54px;
  }
}
