<div class="container">
  <h2 class="banner">Live Events</h2>
  <div *ngFor="let event of events; let i = index;">
    <a href="">
      <div class="d-flex justify-content-center event">
        <div class="text-right left-side">
          <h2 class="band-name">Smoke and Sugar</h2>
        </div>
        <div class="event-date">
          9 <br> Fri <br> Jan
        </div>
        <div class="right-side">
            <h2 class="venue">Interglow</h2>
            <p class="location">393 NYC 393 Broadway New York, NY, 10013</p>
        </div>
      </div>
    </a>
  </div>
</div>

