<div class="bkground">
  <div class="container c" style="height: 100vh;">
    <div class="flex-center flex-column content">
      <!-- <div class="name-block d-block  d-sm-none">
        <h1 class="name text-center">Mariana Quinn-</h1>
        <h1 class="name text-center">Makwaia</h1>
      </div> -->

      <h1 class="name text-center" style="padding-top: 14vh;">Mari QM</h1>

      <a routerLink="/events">
        <h6 class="see-me-live animated">See Me Live</h6>
      </a>
    </div>
  </div>
</div>
