<!-- <div class="canvas-1 d-none d-lg-block">
</div>
<div class="canvas-2 d-none d-lg-block">

</div> -->
<div class="container">
  <div class="row">
    <div class="col-lg-6">
      <div class="side-A">
        <div class="flex-center flex-column">
          <img class="portrait" src="../../assets/images/contact-image.jpg" alt="Image">
          <p style="padding-top: 25px;" class="description">
            Mari QM (Mariana Quinn-Makwaia) is a mixed race vocalist, composer, actor and teacher. She embraces fusion and often blends
            soul, jazz, rock and electronic influences with a nod to improvisation. Born and raised in the LES of NYC to
            an artistic family she continues to play with foundations of song, narrative and performance today. Currently,
            she fronts the neo-soul group 'Smoke and Sugar', joins her sister with the chamber folk group 'SYBLING', and
            revamps the jazz standards with 'The Lovelace Band'. Check out Mari QM on Spotify to find more of her features!
          </p>
        </div>
      </div>
    </div>

    <div class="col-lg-6">
      <div class="side-B">
        <section class="form-gradient">
          <h1 class="title" style="margin-top: -20px;">Contact</h1>
          <!--Form without header-->
          <form [formGroup]="contactForm">
            <div class="md-form">
              <input type="text" id="form100" formControlName="name" data-success="success" data-error="invalid" class="form-control" mdbInputDirective>
              <label for="form100">Your name</label>
            </div>

            <div class="md-form">
              <input type="text" id="form101" formControlName="email" data-success="success" data-error="invalid" class="form-control"
                mdbInputDirective>
              <label for="form101">Your email</label>
            </div>

            <div class="md-form text-left">
              <textarea type="text" id="messgae" formControlName="message" data-success="success" data-error="invalid" class="md-textarea form-control"
                rows="5" length="500" mdbCharCounter mdbInputDirective></textarea>

              <label for="form103">Your message</label>
            </div>

            <div class="row d-flex mx-auto align-items-center">
              <button type="button" [disabled]="!formValid" (click)="saveMessage()" class="btn btn-success btn-block btn-rounded z-depth-1">Send</button>

            </div>
            <!--Grid row-->
          </form>
          <!--/Form without header-->

        </section>
      </div>
    </div>
  </div>
</div>
