<!-- <div class="canvas-1 d-none d-lg-block">
</div>
<div class="canvas-2 d-none d-lg-block">

</div> -->
<div class="container">
  <div class="row">
    <div class="col-lg-6">
      <div class="side-A">
        <div class="flex-center flex-column">
          <img class="portrait" src="../../assets/images/contact-image.jpg" alt="Image">
          <p style="padding-top: 25px;" class="description">
            Mari QM is the solo moniker of Mariana Quinn-Makwaia,
            a feminist mixed race vocalist, songwriter and native New Yorker.
            Mariana is the singer and band leader for Smoke and Sugar,
            a soul/funk band that have performed all over New York City and
            currently have a residency at The Groove. The band self-released
            their debut EP 'Mindings' last year and have spent the first part of
            2018 settling into a new roster of musicians while sharpening their
            craft. Mariana also acts as one half of the cinematic folk duo SYBLING,
            charmingly named after the fact that the other half of the duo is her
            sister. SYBLING are currently recording their first EP and are
            shooting a music video for their single "The Grim". As a featured
            vocalist, Mari QM has collaborated with artists across multiple
            genres ranging from electronic to jazz and beyond. Her talents
            and top lines shine in any musical setting she's thrown into. One
            of these recent projects (Vibe Mosaic) won a spot on Portland-based
            record label Tender Loving Empire's annual Friends and Friends of
            Friends Compilation. With the industry co-sign from Tender Loving
            Empire and a strong network of artistic collaborators in place,
            Mariana is set to have a break through year as Mari QM in 2019.
          </p>
        </div>
      </div>
    </div>

    <div class="col-lg-6">
      <div class="side-B">
        <section class="form-gradient">
          <h1 class="title" style="margin-top: -20px;">Contact</h1>
          <!--Form without header-->
          <form [formGroup]="contactForm">
            <div class="md-form">
              <input type="text" id="form100" formControlName="name" data-success="success" data-error="invalid" class="form-control" mdbInputDirective>
              <label for="form100">Your name</label>
            </div>

            <div class="md-form">
              <input type="text" id="form101" formControlName="email" data-success="success" data-error="invalid" class="form-control"
                mdbInputDirective>
              <label for="form101">Your email</label>
            </div>

            <div class="md-form text-left">
              <textarea type="text" id="messgae" formControlName="message" data-success="success" data-error="invalid" class="md-textarea form-control"
                rows="5" length="500" mdbCharCounter mdbInputDirective></textarea>

              <label for="form103">Your message</label>
            </div>

            <div class="row d-flex mx-auto align-items-center">
              <button type="button" [disabled]="!formValid" (click)="saveMessage()" class="btn btn-success btn-block btn-rounded z-depth-1">Send</button>

            </div>
            <!--Grid row-->
            <a href = "mailto:mariqmmusic@gmail.com" class="email-link">
              <p>Mariqmmusic@gmail.com</p>
            </a>
          </form>
          <!--/Form without header-->

        </section>
      </div>
    </div>
  </div>
</div>
